.board {
    width: 45vw;
    height: 45vw;
    position:absolute;
    border:1px solid #000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


table {
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid lightgray;
  }

.button{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 1px solid red;
}

.default-position{
    width: 1vw;
    height: 1vw;
}

body {
    background-image: url("asset/nmm.jpeg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: 100vw 60vw;
  }